{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="limiter">
    <div class="container-login100" style="background-image: url('{% static 'images/wallpaperflare.com_wallpaper.jpg' %}');">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
                 Forgot Password
            </span>
            <form method='POST' action="{% url 'forgotPassword' %}" class="login100-form validate-form p-b-33 p-t-5">
                {% csrf_token %}

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input class="input100" type="email" name="email" placeholder="email">
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>

               
               

                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn">
                        Submit
                    </button>
                </div>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <p id="messages" style="font-weight: 700; color:red; margin-top: 10px; " class= 'text-center'>{{message}}</p>
                    {% elif message.tags == 'warning' %}
                    <p id="messages" style="font-weight: 700; color:#ffcc00; margin-top: 10px; " class= 'text-center'>{{message}}</p>
                    {% elif message.tags == 'success' %}
                    <p id="messages" style="font-weight: 700; color:green; margin-top: 10px; " class= 'text-center'>{{message}}</p>
                    {% endif %}
					
				{% endfor %}

            </form>
        </div>
       
    </div>
</div>
{% endblock  %}
