{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg-dark" style="background-image: url('{% static 'images/wallpaperflare.com_wallpaper.jpg' %}');">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px; background-color: rgba(225,225,225,0.5)">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            {% for message in messages %}
            <p id="messages" style="font-weight: 700; color:green; margin-top: 10px; " class= 'text-center'>{{message}}</p>
          {% endfor %}
            <form method="POST" action="">
              {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name</label>
                             {{form.first_name}}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                             {{form.last_name}}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                      <div class="form-group col-12">
                        <label>Email</label>
                        {{form.email}}
                      </div> <!-- form-group end.// -->
                    </div>
                  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Username</label>
                          {{form.username}}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                          <label>Phone number</label>
                          {{form.phone_number}}
                        </div> <!-- form-group end.// -->
                       
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Create password</label>
                           {{form.password}}
                        </div> <!-- form-group end.// --> 
                    </div>
                    <div class="form-row">
                      <div class="form-group col-12">
                        <label>Repeat password</label>
                       {{form.confirm_password}}
                    </div> <!-- form-group end.// --> 
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block"> Register  </button>
                    </div> <!-- form-group// -->      
                        {{form.email.errors}}
                        {{form.username.errors}}
                        {{form.non_field_errors}}
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    {% endblock %}