{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{{single_product.image.url}}"></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
              <form action="{% url 'add_cart' single_product.id%}" method = "POST">
                {% csrf_token %}
                <article class="content-body">
                
                <h2 class="title">{{single_product.product_name}}</h2>
                
                <div class="mb-3"> 
                    <var class="price h4">₹{{single_product.price}}</var> 
                </div> 
                
                <p>{{single_product.description}}</p>
                
                
                <hr>
                    <div class="row">
                        <div class="item-option-select">
                            <h6>Choose Color</h6>
                            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                               {% for color in single_product.variation_set.colors %}
                              <label class="btn btn-light">
                                <input type="radio" name="color" value="{{color.variation_value}}" required> {{color.variation_value}}
                               
                              </label>
                              {% endfor %}

                             
                            </div> 
                        </div>
                    </div> <!-- row.// -->
                    <div class="row">
                        <div class="item-option-select">
                            <h6>Select Size</h6>
                            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                              {% for size in single_product.variation_set.sizes %}
                              <label class="btn btn-light">
                                <input type="radio" name="size" value="{{size.variation_value}}"> {{size.variation_value}}
                              </label>
                              {% endfor %}
                             
                             
                            </div> 
                        </div>
                    </div> 
                    <hr>
                    {% if in_cart %}
                    <button type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
                    <a href="{% url 'cart' %}" class="btn  btn-dark"> <span class="text">view cart</span> <i class="fas fa-eye"></i>  </a>
                    {% else %}
                    <button type="submit" class="btn  btn-dark"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
                    {% endif %}
                </article> <!-- product-info-aside .// -->
              </form>
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
   
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}